{% extends "layout_admin.html" %}
{% block content %}
        <div class="container"></div>

        <div class="container">
            <div class="col-md-8 col-md-offset-4">
                <h2>Búsqueda de clientes</h2>
                <p class="fh5co-lead"></p>
            </div>

                <div class="col-md-12 ">
                    <form method="post" action="/search">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-5">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Cédula" name="search_data">
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-5 col-md-5">
                                <div class="form-group">
                                    <input value="Buscar" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            <div class="col-md-8 col-md-offset-4"><h1></h1> </div>

            <div class="col-md-8 col-md-offset-4">
                <h2>Rutina del día</h2>
                <p class="fh5co-lead"></p>
            </div>
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Rutina"></textarea>
							</div>
						</div>
                        </div>

                        <div class="col-md-6 col-md-offset-5 col-md-5">
							<div class="form-group">
								<input value="Cargar" class="btn btn-primary" type="submit">
							</div>
						</div>
                    </div>
                </div>
        </div>

{% endblock content %}