{% extends "layout.html" %}
{% block content %}

    <div class="fh5co-contact animate-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="row">
                     <div class="col-md-8 col-md-offset-2 col-md-push-2 animate-box">
                        <h2>Inicia Sesión</h2>
                    </div>

                <div class="col-md-8 col-md-offset-1 col-md-push-1 animate-box">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="col-md-8 col-md-offset-1 col-md-push-1 animate-box">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="col-md-8 col-md-offset-1 col-md-push-1 animate-box">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-7 col-md-offset-1 col-md-push-1 animate-box">
                    {{ form.submit(class="btn btn-primary") }}
                </div>

                <small class="text-muted ml-2">
                    <a href="#">¿Olvidó la contraseña?</a>
                </small>
            </div>
        </form>
        <div class="col-md-7 col-md-offset-1 col-md-push-1 animate-box">
            <small class="text-muted">
                ¿Necesita una cuenta? <a class="ml-2" href="{{ url_for('register') }}">Regístrate ahora</a>
            </small>
        </div>
    </div>

    <div id="map" class="animate-box" data-animate-effect="fadeIn"></div>

{% endblock content %}
