{% extends "layout_admin.html" %}
{% block content %}

    <div class="container"></div>
{% for d in data %}
    <div class="container">
        <div class="col-md-16 col-md-offset-2 col-md-push-2 animate-box">
            <h2>Perfil de  {{ d.name }}</h2>
            <p class="fh5co-lead"></p>
        </div>

        <div class="col-md-12 ">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" value="{{ d.name }}" type="text" >
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="{{ d.id }}" type="text" >
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="{{ d.birthdate }}" type="text" >
                    </div>

                </div>

                 <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" value="{{ d.address }}" type="text" >
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="{{ d.phone }}" type="text" >
                    </div>

                     <div class="form-group">
                        <input class="form-control" value="{{ d.age }}" type="text" >
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" value="{{ d.observations }}" type="text" >
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" value="30kg" type="text" >
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="1.75m" type="text" >
                    </div>

                     <div class="form-group">
                        <input class="form-control" value="33msc" type="text" >
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" value="30kg" type="text" >
                    </div>

                    <div class="form-group">
                        <input class="form-control" value="1.75m" type="text" >
                    </div>

                     <div class="form-group">
                        <input class="form-control" value="33msc" type="text" >
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endfor %}
{% endblock content %}